<div class="col-xs-{{smWidth}} col-md-{{mdWidth}} imageBlurb" ng-controller="blurb">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{title}}</h3>
        </div>
        <div class="panel-body">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-6 col-md-4" ng-repeat="image in images">
                        <a href="{{image.href}}">
                            <img class="" src="{{image.src}}" alt="{{image.alt}}"/>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>